@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aula: <a href="https://learn.microsoft.com/aspnet/core">PWBE com mvc</a>.</p>
</div>
